#main-header {
  height: 60px;
  width: 100%;
  background: palevioletred;
  font-size: 18px;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
